{{ define "title" }}
  {{ .Title }} - {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <h1>Posts</h1>
  {{ range .Data.Pages }}
    <article class="item">
    	<header>
			<h2 class="item-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h2>
			<div class="meta sans">
				<time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}" pubdate>Published {{ .Date.Format "Monday, January 2, 2006 3:04 PM"}}</time>
			</div>
		</header> 
		{{ .Content }}
    </article>
  {{ end }}
{{ end }}
